tuple，list,dict,set.
set是没有value的dict。tuple和set的区别:tuple中的元素有顺序，而set中的没有顺序。

In [4]:
a = 4,5,6,(7,8)

In [17]:
tup2 = tuple([1,[4,0,2],False])
tup2 == tuple([1,False,[4,0,2]])

False

In [9]:
tup2

(1, [4, 0], False)

In [12]:
(4,None,'foo') * 3

(4, None, 'foo', 4, None, 'foo', 4, None, 'foo')

In [15]:
seq = [[1,2,3],[4,5,6],(7,8,9)]
for a,b,c in seq:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

In [4]:
values = 1,2,3,4,5
a,b, *_ = values

In [5]:
a,b

(1, 2)

In [7]:
a = (1,2,2,2,3,3,4)

In [8]:
a.count(2)

3

In [9]:
gen = range(10)

In [10]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
blist = ['foo','red','peekaboo','baz','dwarf','foo']

In [17]:
blist.remove('foo')

In [18]:
blist

['red', 'peekaboo', 'baz', 'dwarf', 'foo']

In [20]:
'dwarf' not in blist

False

In [21]:
[4,'foo',None] + [7,8,2]

[4, 'foo', None, 7, 8, 2]

In [28]:
b = ['saw','samll','He','foxes','six']

In [30]:
sorted(b)

['He', 'foxes', 'samll', 'saw', 'six']

In [27]:
b

['He', 'saw', 'six', 'samll', 'foxes']

In [31]:
import bisect

In [40]:
c = [8,9,2,2,3,3,3,4,7]

In [46]:
bisect.bisect(c,3)

7

In [37]:
c

[1, 2, 2, 3, 3, 3, 4, 7, 9]

In [54]:
seq = [7,2,3,7,5,6,0,1]

In [55]:
mapping = {}
for i,v in enumerate(seq):
    mapping[v] = i

In [2]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']

In [62]:
list(zip(seq1,seq2))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [5]:
list(zip(*list(zip(seq1,seq2))))

[('foo', 'bar', 'baz'), ('one', 'two', 'three')]

到这里unziped了seq1和seq2，这比通过循环找出seq1、seq2要好的多。

In [4]:
seq3 = []
seq4 = []
for i in list(zip(seq1,seq2)):
    seq3.append(i[0])
    seq4.append(i[1])

print(seq3,seq4)

['foo', 'bar', 'baz'] ['one', 'two', 'three']

In [1]:
d1 = {'a':'some valuse','b':[1,2,3,4]}

In [2]:
d1[5] = 'an integer'
d1

{'b': [1, 2, 3, 4], 'a': 'some valuse', 5: 'an integer'}

In [3]:
d1.pop('a')
d1

{'b': [1, 2, 3, 4], 5: 'an integer'}

In [15]:
list(d1.values())

[[1, 2, 3, 4], 'an integer']

In [16]:
d1.update({'b':'foo',"c":12})

In [17]:
d1

{'c': 12, 'b': 'foo', 5: 'an integer'}

In [21]:
mapping = dict(zip([1,2,3,4,5],[6,7,8,9,10]))
mapping

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [22]:
words = ['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [25]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [26]:
by_letter

defaultdict(list, {})

In [30]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}
a.intersection(b)

{3, 4, 5}

In [31]:
a ^ b

{1, 2, 6, 7, 8}

In [35]:
a.isdisjoint(b)

False

In [16]:
c = [1,2,3,4]
my_set = set(c)
my_set == set([1,3,2,4])

True

In [42]:
d = 1,2,3,4,5

In [43]:
d

(1, 2, 3, 4, 5)

In [49]:
all_data = [['John','Emily','Micheal','Steven'],
           ['Maria','Juan','Javier','Natalia','Pilar']]

In [46]:
names_interst = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_interst.extend(enough_es)

names_interst

['Steven']

In [51]:
result = [name for names in all_data if len(names) >= 5 for name in names if name.count('e') >= 2]
result

[]

In [56]:
value = '   Alabama!  '
value.strip()

'Alabama!'

In [57]:
value.title()

'   Alabama!  '

In [53]:
import re

In [58]:
re.sub(r'def\s+([a-zA-Z_][a-zA-Z_0-9]*)\s*\(\s*\):',
       r'static PyObject*\npy_\1(void)\n{',
       'def myfunc():')

'static PyObject*\npy_myfunc(void)\n{'

In [60]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south carolina##', 'West virginia?']

In [61]:
def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops = [str.strip,remove_punctuation,str.title]
def clean_strings(strings,ops):
    result = []
    for value in strings:
        for function in ops:
            value  =function(value)
        result.append(value)
    return result

clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [1]:
def short_functions(x):
    return x * 2

In [2]:
short_functions(2)

4

In [3]:
equiv_anon = lambda x : x*2

In [4]:
equiv_anon(2)

4

In [5]:
def apply_list(some_list,f):
    return [f(x) for x in some_list]

In [6]:
ints = [4,0,1,3,8]
apply_list(ints,lambda x : x*2)

[8, 0, 2, 6, 16]

In [7]:
def add_numbers(x,y):
    return x+y

add_five = lambda y : add_numbers(5,y)

add_five(3)

8

In [9]:
from functools import partial
add_five = partial(add_numbers,5)
add_five(4)

9

In [10]:
some_dict = {'a':1,'b':2,'c':3}
dict_iterator = iter(some_dict)
dict_iterator

In [11]:
list(dict_iterator)

['a', 'b', 'c']

In [12]:
def squares(n=10):
    for i in range(1,n+1):
        yield i ** 2

In [13]:
gen = squares()

In [14]:
for x in gen:
    print(x,end = ' ')

1 4 9 16 25 36 49 64 81 100

In [1]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan','Adam','wes']
for letter, name in itertools.groupby(names,first_letter):
    print(letter, list(name))

A ['Alan', 'Adam']
w ['wes']

In [28]:
for i in itertools.combinations([1,2,3,4,5],4):
    print(i)

(1, 2, 3, 4)
(1, 2, 3, 5)
(1, 2, 4, 5)
(1, 3, 4, 5)
(2, 3, 4, 5)

返回个数$C_4^4 = \frac{5!}{(5-4)!4!}$个

In [26]:
j = 1
for i in itertools.permutations([1,2,3,4],4):
    print(j,i)
    j = j+1

1 (1, 2, 3, 4)
2 (1, 2, 4, 3)
3 (1, 3, 2, 4)
4 (1, 3, 4, 2)
5 (1, 4, 2, 3)
6 (1, 4, 3, 2)
7 (2, 1, 3, 4)
8 (2, 1, 4, 3)
9 (2, 3, 1, 4)
10 (2, 3, 4, 1)
11 (2, 4, 1, 3)
12 (2, 4, 3, 1)
13 (3, 1, 2, 4)
14 (3, 1, 4, 2)
15 (3, 2, 1, 4)
16 (3, 2, 4, 1)
17 (3, 4, 1, 2)
18 (3, 4, 2, 1)
19 (4, 1, 2, 3)
20 (4, 1, 3, 2)
21 (4, 2, 1, 3)
22 (4, 2, 3, 1)
23 (4, 3, 1, 2)
24 (4, 3, 2, 1)

从list中选出r个元素并排序，返回个数：$A_4^4 = \frac{4!}{(4-4)!}$

In [36]:
j = 1
for i in itertools.product([1,2,3],repeat=2):
    print(j,i)
    j += 1

1 (1, 1)
2 (1, 2)
3 (1, 3)
4 (2, 1)
5 (2, 2)
6 (2, 3)
7 (3, 1)
8 (3, 2)
9 (3, 3)

生成的个数为：$3 ^{repeat}$个

In [10]:
list1 = {1,2,3,4}
list2 = {5,6,7,8}
list(itertools.chain(list1,list2))

[1, 2, 3, 4, 8, 5, 6, 7]

In [11]:
list1.extend(list2)

AttributeError: 'set' object has no attribute 'extend'

In [5]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

对于如果元组是list，那么itertools.chain和extend的功能相同，但是对于其它的数组类型，extend不一定能适用。